/*
body {
  width: 100%;
  height:100%;
  background-color: #FEC0CE;
  margin: 0;
  font: size 12px;
  font-family: 'Gemunu Libre', sans-serif;
}
 */

 html, body {
  width: 100%;
  height:100%;
  margin: 0;
  font: size 12px;
  font-family: 'Gemunu Libre', sans-serif;
}

 body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400%;
  animation: gradient 20s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.navbar {
  box-sizing: border-box;
  overflow: hidden;
  background-color: #333;
  top: 0;
  width: 100%;
}

.navbar h1 {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 0.5% 1%;
  font-size: 17px;
}

.logo {
  float: left;
  min-width: 50px;
  width: 3%;
}

.time_table {
  margin: auto;
  border-radius: 20px;
  width: 80%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.418);
  backdrop-filter: blur(10px);
}

.time {
  padding: 0.5%;
  width: 100%;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  border-spacing: .5;
  font-size:12px;
}
 
.detail {
  margin: auto;
  border-radius: 20px;
  width: 90%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.418);
  backdrop-filter: blur(10px);
}

 .info {
   margin: auto;
    padding: 0.5%;
    width: 100%;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    border-spacing: .2;
    font-size:12px;
  }

th,
td {
 /* border: 1px solid #32292F; */
 border-radius: 10px;
  box-sizing: border-box;
  padding:3px 3px;
  margin:0px;
}
 
th {
  padding: 1%;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  padding: 20px 0;
  color: rgba(255, 255, 255, 0.5);
  background-color: #643A71;
  letter-spacing: 1px;
}

td {
  text-align: center;
  padding: 1%;
  font-size: 14px;
  font-weight: 500;
  padding: 20px 0;
  color: rgba(255, 255, 255, 0.5);
  background-color: #643A71;
  letter-spacing: 1px;
}

 /*
td {
  width: 14.285%;
  transition: all 0.3s;
  font-size: 14px;
  color: #32292F;
  font-weight: 400;
  font-size: 14px;
  padding: 1.5% 1.5% 2%;
  vertical-align: initial;
  padding: 20px 0;
  height: auto;
}
*/
.content{
    height:15px;
    width:auto;
    overflow:hidden;
    text-overflow:ellipsis;
}

.content:hover{
    height:auto;
    width:auto;
}

.day:hover {
  background-color: #D183C9;
  cursor: pointer;
}
 
.today {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.25) !important;
}
 
span.number {
  margin-left: 5%;
}
