body {
  background-color: #333333;
  margin: 0;
  font-size:12px;
  border-collapse:collapse;
}
 
table {
  width: 100%;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  font-family: "Ubuntu"; /*border-collapse: collapse;*/
  border-spacing: 0;
  background-color: #333333;
  font-size:12px;
  border-collapse:collapse;
}
 
th,
td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  white-space:nowrap;
  padding:3px 3px;
  margin:0px;
}
 
th {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  padding: 20px 0;
  color: rgba(255, 255, 255, 0.5);
  background-color: #292929;
  letter-spacing: 1px;
}
 
td {
  width: 10%;
  transition: all 0.3s;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  padding: 1.5% 1.5% 2%;
  vertical-align: initial;
  padding: 1.5% 0;
  height: auto;
}

.content{
    height:15px;
    width:auto;
    overflow:hidden;
    text-overflow:ellipsis;
}

.content:hover{
    height:auto;
    width:auto;
}

.day:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
 
.today {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.25) !important;
}
 
span.number {
  margin-left: 5%;
}
